node_modules
bower_components
.nodemonignore
.idea
*.iml
*.ipr
*.iws
newrelic_agent.log
version.json
frontend/javascripts/libs/**/*
frontend/stylesheets/main.css
tests/results/**
tests/backend/instrumentation.spec.js
.DS_Store
*.swp
*.lock
profile
dist/
logs/
phantomjsdriver.log
karma-unit.log